<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.harbour.ws.dao.dc.DcContainerTeuSumDao">
    <select id="findAll" resultType="com.harbour.ws.domain.jzx.ContainerTeuSum">
  select sum(trunc(CONTAINER_SIZE/20)) teusum from
 dc.jzx_voyage_cargo_list a
 left join dc.jzx_ship_info b on a.order_code=b.order_code
 where  b.BERTH_STATUS>=6 and substr(END_TIME,0,7)=to_char(Trunc(sysdate),'yyyy-mm') and a.task_type in ('1','2')
  group by substr(END_TIME,0,7)
    </select>
</mapper>